*{
margin: 0;
padding: 0;
font-family: Arial, Helvetica, sans-serif;
box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background: linear-gradient(rgb(25, 24, 24), rgb(127, 127, 247));;
}

.h1{
    color: skyblue;
    margin: 15px;
    font-size: 40px;
    text-align: center;
}

.container{

    width: 30vw;
    height: 70vh;
    border: 10px solid white;
    border-radius: 10px;
    background: linear-gradient(rgb(127, 127, 247), rgb(89, 89, 241));
    
}

.entries{
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.entry{
    color: red;
}

#weight, #height{
    width: 70%;
    margin: 20px;
    border-radius: 4px;
    font-size: 20px;
    padding: 3px;
    border: 4px solid white;
    outline: none;
}

.submits{
    margin-top: 40px;
    margin-right: 15px;
    font-size: 20px;
    padding: 5px;
    border: 2px solid white;
    background: linear-gradient(rgb(243, 106, 243), rgb(241, 91, 91));
    color: white;
    border-radius: 4px;
    cursor: pointer;
}

.sentence{
    display: flex;
    flex-direction: row;
    margin-bottom: 15px;
}

#output{
    font-weight: 700;
    color: white;
    margin-left: 5px;
}

.results{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 20px;
    height: 10%;
    color: red;
    font-weight: 600;
    margin-top: 25px;
    
}

@media only screen and (max-width: 1000px) {
   .container{
width: 70vw;
   }

   .h1{
    font-size: 30px;
   }

   .entries, .submits{
    font-size: 30px;
   }

   .submits{
    margin-top: 30px;
   }
   .results{
    font-size: 30px;
   }


  }

  @media only screen and (max-width: 650px) {
.results,.submits, .entries{
    font-size: 15px;
}
  }

