*{
margin: 0;
padding: 0;
font-family: Arial, Helvetica, sans-serif;
box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background: skyblue;
}

.h1{
    color: crimson;
    margin-bottom: 15px;
    font-size: 40px;
}

.container{

    width: 30vw;
    height: 70vh;
    border: 15px solid white;
    border-radius: 10px;
    
}

.entries{
    height: 70%;
    border-bottom: 5px solid white;
    background: rgb(234, 188, 103);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#weight, #height{
    width: 70%;
    margin: 20px;
    border-radius: 4px;
    font-size: 20px;
    padding: 3px;
    border: 4px solid white;
    outline: none;
    color: crimson;
}

.submits{
    margin: 10px;
    font-size: 20px;
    padding: 5px;
    border: 2px solid white;
    background: rgb(87, 233, 87);
    color: white;
    border-radius: 4px;
    cursor: pointer;
}

.sentence{
    display: flex;
    flex-direction: row;
    margin-bottom: 15px;
}

#output{
    font-weight: 700;
    color: green;
    margin-left: 5px;
}

.results{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 20px;
    height: 30%;
    background: pink;
    color: rgb(236, 88, 88);
    font-weight: 600;
    
}

@media only screen and (max-width: 1000px) {
   .container{
width: 70vw;
   }

   .h1{
    font-size: 30px;
   }

   .entries, .submits{
    font-size: 30px;
   }

   .submits{
    margin-top: 30px;
   }
   .results{
    font-size: 30px;
   }


  }

  @media only screen and (max-width: 650px) {
.results,.submits, .entries{
    font-size: 15px;
}
  }
